.centerDiv {
  padding: 70px;
  text-align: center;
}
.bannersDiv {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  width: 540px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding-left: 20px;
  margin-right: -25px;
}

.leftDiv {
  width: calc(100% - 80px);
  margin-top: 25px;
  margin-bottom: -50px;
  margin-left: 80px;
}

.leftDiv h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #505050;
}
