.main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-image: url("../assets/test.jpg");
}

.imageContainer{
    width: 50vw;
    margin: auto;
}

.logo{
    margin: auto;
}